<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-firebase-basic"
        version="1.0.0">

  <name>Firebase Plugin</name>
  <description>A basic Cordova plugin for Firebase.</description>
  <author>Joshua McFarland</author>
  <license>MIT</license>
  <keywords>cordova,firebase,admob,analytics,messaging</keywords>

  <engines>
    <engine name="cordova" version=">=6.0.0" />
  </engines>

  <js-module src="www/firebase.js" name="FirebasePlugin">
    <clobbers target="plugins.firebase" />
  </js-module>

  <dependency id="cordova-plugin-add-swift-support" version="1.7.1"/>
  <dependency id="cordova-plugin-google-services" version="1.0.0" />
  <dependency id="cordova-plugin-promise" version="1.0.0" />

  <platform name="android">

    <config-file target="config.xml" parent="/*">
      <feature name="FirebasePlugin" >
        <param name="android-package" value="com.jernung.plugins.firebase.FirebasePlugin" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.WAKE_LOCK" />
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <service android:name="com.jernung.plugins.firebase.PluginInstanceIdService" android:exported="true">
        <intent-filter>
          <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
        </intent-filter>
      </service>
      <service android:name="com.jernung.plugins.firebase.PluginMessagingService">
        <intent-filter>
          <action android:name="com.google.firebase.MESSAGING_EVENT"/>
        </intent-filter>
      </service>
    </config-file>

    <framework src="com.google.firebase:firebase-ads:11.8.0" />
    <framework src="com.google.firebase:firebase-core:11.8.0" />
    <framework src="com.google.firebase:firebase-messaging:11.8.0" />

    <source-file src="src/android/FirebasePlugin.java" target-dir="src/com/jernung/plugins/firebase" />
    <source-file src="src/android/PluginInstanceIdService.java" target-dir="src/com/jernung/plugins/firebase" />
    <source-file src="src/android/PluginMessagingService.java" target-dir="src/com/jernung/plugins/firebase/messaging" />
    <source-file src="src/android/PluginUtils.java" target-dir="src/com/jernung/plugins/firebase" />

  </platform>

  <platform name="ios">

    <config-file target="config.xml" parent="/*">
			<feature name="FirebasePlugin">
				<param name="ios-package" value="FirebasePlugin" />
				<param name="onload" value="true" />
			</feature>
		</config-file>

    <header-file src="libs/ios/Firebase/Firebase.h" />
    <source-file src="src/ios/FirebasePlugin.swift" />

    <framework src="libz.tbd" />
    <framework src="libsqlite3.tbd" />
    <framework src="CoreMotion.framework" />
    <framework src="CoreTelephony.framework" />
    <framework src="GLKit.framework" />
    <framework src="MediaPlayer.framework" />
    <framework src="MessageUI.framework" />
    <framework src="SystemConfiguration.framework" />
    <framework src="libs/ios/Firebase/Analytics/FirebaseAnalytics.framework" custom="true" />
		<framework src="libs/ios/Firebase/Analytics/FirebaseCore.framework" custom="true" />
		<framework src="libs/ios/Firebase/Analytics/FirebaseCoreDiagnostics.framework" custom="true" />
		<framework src="libs/ios/Firebase/Analytics/FirebaseInstanceID.framework" custom="true" />
		<framework src="libs/ios/Firebase/Analytics/FirebaseNanoPB.framework" custom="true" />
		<framework src="libs/ios/Firebase/Analytics/GoogleToolboxForMac.framework" custom="true" />
    <framework src="libs/ios/Firebase/Analytics/nanopb.framework" custom="true" />
    <framework src="libs/ios/Firebase/AdMob/GoogleMobileAds.framework" custom="true" />
    <framework src="libs/ios/Firebase/Messaging/FirebaseMessaging.framework" custom="true" />
    <framework src="libs/ios/Firebase/Messaging/Protobuf.framework" custom="true" />

  </platform>

</plugin>
