<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com-jernung-plugin-firebase"
        version="0.1.0">

  <name>Firebase Plugin</name>
  <description>A Cordova plugin for Firebase.</description>
  <author>Joshua McFarland</author>
  <license>MIT</license>
  <keywords>cordova,firebase</keywords>

  <engines>
    <engine name="cordova" version=">=6.0.0" />
  </engines>

  <js-module src="www/firebase.js" name="FirebasePlugin">
    <clobbers target="plugins.firebase" />
  </js-module>

  <dependency id="com-jernung-plugin-promise" url="https://github.com/mcfarljw/cordova-plugin-promise" />

  <platform name="android">

    <hook type="after_prepare" src="hooks/android.js" />

    <config-file target="config.xml" parent="/*">
      <feature name="FirebasePlugin" >
        <param name="android-package" value="com.jernung.plugins.firebase.FirebasePlugin" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.WAKE_LOCK" />
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <service android:name="com.jernung.plugins.firebase.PluginInstanceIdService" android:exported="true">
        <intent-filter>
          <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
        </intent-filter>
      </service>
    </config-file>

    <framework src="com.google.firebase:firebase-core:11.8.0" />

    <source-file src="src/android/FirebasePlugin.java" target-dir="src/com/jernung/plugins/firebase" />
    <source-file src="src/android/PluginInstanceIdService.java" target-dir="src/com/jernung/plugins/firebase" />
    <source-file src="src/android/PluginUtils.java" target-dir="src/com/jernung/plugins/firebase" />

  </platform>

  <platform name="ios">

    <hook type="before_prepare" src="hooks/ios.js" />

    <config-file target="config.xml" parent="/*">
			<feature name="FirebasePlugin">
				<param name="ios-package" value="FirebasePlugin" />
				<param name="onload" value="true" />
			</feature>
		</config-file>

    <resource-file src="src/ios/GoogleService-Info.plist" target="Resources/GoogleService-Info.plist" />

    <header-file src="libs/ios/Firebase/Firebase.h" />
    <header-file src="src/ios/FirebasePlugin.h" />
    <source-file src="src/ios/FirebasePlugin.m" />

    <framework src="libz.tbd" />
    <framework src="libsqlite3.tbd" />
    <framework src="libs/ios/Firebase/Analytics/FirebaseAnalytics.framework" custom="true" />
		<framework src="libs/ios/Firebase/Analytics/FirebaseCore.framework" custom="true" />
		<framework src="libs/ios/Firebase/Analytics/FirebaseCoreDiagnostics.framework" custom="true" />
		<framework src="libs/ios/Firebase/Analytics/FirebaseInstanceID.framework" custom="true" />
		<framework src="libs/ios/Firebase/Analytics/FirebaseNanoPB.framework" custom="true" />
		<framework src="libs/ios/Firebase/Analytics/GoogleToolboxForMac.framework" custom="true" />
    <framework src="libs/ios/Firebase/Analytics/nanopb.framework" custom="true" />

  </platform>

</plugin>
